body {
  font-family: sans-serif;
  margin: 3rem;
  max-width: 1280px;
  line-height: 1.7;
  font-size: 24px;
  color: #444;
  background-color: #eeeeee;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}